<draw_ops name="close_button_normal">
    <image filename="images/circle-11px-gray.png" x="(width-11)/2" y="(height-11)/2 +1" width="11" height="11" colorize="shade/gtk:bg[SELECTED]/0.96"/>
</draw_ops>
<draw_ops name="close_button_prelight">
    <image filename="images/circle-11px-gray.png" x="(width-11)/2" y="(height-11)/2 +1" width="11" height="11" colorize="shade/gtk:bg[SELECTED]/1.1"/>
    <image filename="images/black/close-antialias.png" x="(width-12)/2 -1" y="(height-12)/2" width="12" height="12" alpha="0.7"/> 
</draw_ops>
<draw_ops name="close_button_pressed">
    <image filename="images/circle-11px-gray.png" x="(width-11)/2" y="(height-11)/2 +1" width="11" height="11" colorize="shade/gtk:bg[SELECTED]/0.7"/>
    <image filename="images/black/close-antialias.png" x="(width-12)/2 -1" y="(height-12)/2" width="12" height="12" alpha="0.7"/> 
</draw_ops>

<draw_ops name="close_button_unfocused_normal">
    <image filename="images/circle-11px-gray.png" x="(width-11)/2" y="(height-11)/2 +1" width="11" height="11" colorize="shade/gtk:bg[NORMAL]/0.80"/>
</draw_ops>
<draw_ops name="close_button_unfocused_prelight">
    <image filename="images/circle-11px-gray.png" x="(width-11)/2" y="(height-11)/2 +1" width="11" height="11" colorize="shade/gtk:bg[NORMAL]/1.0"/>
    <image filename="images/black/close-antialias.png" x="(width-12)/2 -1" y="(height-12)/2" width="12" height="12" alpha="0.7"/> 
</draw_ops>
<draw_ops name="close_button_unfocused_pressed">
    <image filename="images/circle-11px-gray.png" x="(width-11)/2" y="(height-11)/2 +1" width="11" height="11" colorize="shade/gtk:bg[NORMAL]/0.5"/>
    <image filename="images/black/close-antialias.png" x="(width-12)/2 -1" y="(height-12)/2" width="12" height="12" alpha="0.7"/> 
</draw_ops>

