<draw_ops name="close_button_normal">
    <image filename="images/circle-13-gray.png" x="(width-13)/2" y="(height-13)/2 +1" width="13" height="13" colorize="shade/gtk:bg[SELECTED]/0.95"/>
</draw_ops>
<draw_ops name="close_button_prelight">
    <image filename="images/circle-13-gray.png" x="(width-13)/2" y="(height-13)/2 +1" width="13" height="13" colorize="shade/gtk:bg[SELECTED]/1.1"/>
    <image filename="images/black/close-thick.png" x="(width-12)/2 -1" y="(height-12)/2" width="12" height="12" alpha="0.7"/> 
</draw_ops>
<draw_ops name="close_button_pressed">
    <image filename="images/circle-13-gray.png" x="(width-13)/2" y="(height-13)/2 +1" width="13" height="13" colorize="shade/gtk:bg[SELECTED]/0.8"/>
    <image filename="images/black/close-thick.png" x="(width-12)/2 -1" y="(height-12)/2" width="12" height="12" alpha="0.7"/> 
</draw_ops>

<draw_ops name="close_button_unfocused_normal">
    <image filename="images/circle-13-gray.png" x="(width-12)/2" y="(height-12)/2 " width="12" height="12" colorize="shade/gtk:bg[NORMAL]/0.83"/>
</draw_ops>
<draw_ops name="close_button_unfocused_prelight">
    <image filename="images/circle-13-gray.png" x="(width-13)/2" y="(height-13)/2 +1" width="13" height="13" colorize="shade/gtk:bg[NORMAL]/1.0"/>
    <image filename="images/black/close-thick.png" x="(width-12)/2 -1" y="(height-12)/2" width="12" height="12" alpha="0.7"/> 
</draw_ops>
<draw_ops name="close_button_unfocused_pressed">
    <image filename="images/circle-13-gray.png" x="(width-13)/2" y="(height-13)/2 +1" width="13" height="13" colorize="shade/gtk:bg[NORMAL]/0.7"/>
    <image filename="images/black/close-thick.png" x="(width-12)/2 -1" y="(height-12)/2" width="12" height="12" alpha="0.7"/> 
</draw_ops>

