{{#close_button}}
    <image filename="images/white/close_dot.png" x="(height-12)/2" y="(height-12)/2 +1" width="12" height="12" alpha="WHITE_ALPHA"/> 
    <image filename="images/black/close_dot.png" x="(height-12)/2" y="(height-12)/2" width="12" height="12" alpha="BLACK_ALPHA"/> 
{{/close_button}}
